{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
{{ form_start(form) }}
    <div>
        {{ form_label(form.agencia, 'Agencia', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}})  }}
        {{ form_widget(form.agencia, {'attr': {'class': 'md:w-1/3 block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.agencia,) }}
    </div>
     <div>
        {{ form_label(form.tipos, 'Tipo da Conta', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}})  }}
        {{ form_widget(form.tipos, {'attr': {'class': 'md:w-1/3 block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.tipos,) }}
    </div>
      <button type="submit" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">{{ button_label|default('Cadastrar') }}</button>
      <a href="{{ path('app_inicio') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Cancelar</a>
{{ form_end(form) }}
