{% extends 'base.html.twig' %}

{% block title %}Conta index{% endblock %}

{% block body %}
    <h1>Conta index</h1>

    <table class="table mb-7">
        <thead>
            <tr>
                <th>Id</th>
                <th>Saldo</th>
                <th>NumeroDaConta</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contum in minhasContas %}
            <tr >
            
                <td class="w-30">{{ contum.id }}</td>
                <td>{{ contum.saldo }}</td>
                <td>{{ contum.numeroDaConta }}</td>
                <td>{{ contum.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_cliente_showConta', {id:app.user.id, conta:contum.id}) }}">Minha conta</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_inicio') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 ">Home</a>
    <a href="{{ path('app_conta_cliente_new', {id:app.user.id}) }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Criar nova conta</a>
    {# <a href="{{ path('app_conta_cliente_new', {id:app.user.id}) }}">Create new</a> #}
{% endblock %}
