{% extends 'base.html.twig' %}

{% block title %}Agencia{% endblock %}

{% block body %}
    <h1>Agencia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agencium.id }}</td>
            </tr>
            <tr>
                <th>NomeAgencia</th>
                <td>{{ agencium.nomeAgencia }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ agencium.codigo }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ agencium.endereco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agencia_index') }}">back to list</a>

    <a href="{{ path('app_agencia_edit', {'id': agencium.id}) }}">edit</a>

    {{ include('agencia/_delete_form.html.twig') }}
{% endblock %}
