<div class="flex items-center">
    {{ form_start(form) }}
        <div class="flex">
            <div class="text-base text-gray-700 dark:text-gray-400 font-normal">
               <div class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-black rounded-md border p-2 mt-4 mb-2"> 
                    {{ form_start(form)}}
                    {{ form_widget(form)}}
                      <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-black rounded-md border p-2 mt-4 mb-2">
                    {{ button_label|default('Confirmar') }}
                    </button>
                </div>
            </div>
        </div>       
    {{ form_end(form) }} 
       
    
</div>