{% extends 'base.html.twig' %}

{% block title %}Conta{% endblock %}

{% block body %}
    <h1>Conta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contum.id }}</td>
            </tr>
            <tr>
                <th>Saldo</th>
                <td>{{ contum.saldo }}</td>
            </tr>
            <tr>
                <th>NumeroDaConta</th>
                <td>{{ contum.numeroDaConta }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ contum.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administrador_index') }}">back to list</a>

    <a href="{{ path('app_administrador_edit', {'id': contum.id}) }}">edit</a>

    {{ include('administrador/_delete_form.html.twig') }}
{% endblock %}
